<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - Trivia</title>
        {% else %}
        <title>Welcome to Trivia</title>
        {% endif %}

        <script src="https://kit.fontawesome.com/158fef4679.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AdminLTE-3.1.0/dist/css/adminlte.min.css') }}">
    </head>
    <body class="bg-secondary">

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <!-- <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %} -->
        {% block content %}{% endblock %}

        <!-- jQuery -->
    	<script src="{{ url_for('static', filename='AdminLTE-3.1.0/plugins/jquery/jquery.min.js') }}"></script>
    	<!-- Bootstrap 4 -->
    	<script src="{{ url_for('static', filename='AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- AdminLTE App -->
    	<script src="{{ url_for('static', filename='AdminLTE-3.1.0/dist/js/adminlte.min.js') }}"></script>
        <!-- Socket.io -->
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>


        {% block js %}{% endblock %}


    </body>
</html>