{% extends "base.html" %}

{% block content %}

<div class="container col-sm-4 mt-4 text-dark ">

    <div class="card card-dark">
      <div class="card-header">
        <h1 class="card-title">Welcome to Trivia</h1>
      </div>
      <!-- /.card-header -->
      
        <div class="card-body">

            <div class="d-flex flex-column">
                <a class="btn btn-primary" href="/create">Create a Game</a>
            </div>

            <hr />

            <div class="d-flex flex-column">
                <form action="/" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-row justify-content-center">
                        <div class="col-sm-4">

                            {% if form.game_code.errors %}

                                {{ form.game_code.label }}
                                {{ form.game_code(class="form-control is-invalid", placeholder="Enter game code", autocomplete="off") }}<br>
                                {% for error in form.game_code.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}

                            {% else %}

                                {{ form.game_code.label }}
                                {{ form.game_code(class="form-control", placeholder="Enter game code", autocomplete="off") }}<br>

                            {% endif %}


                        </div>
                        <div class="col-sm-4">

                            {% if form.user_name.errors %}

                                {{ form.user_name.label }}
                                {{ form.user_name(class="form-control is-invalid", placeholder="Enter a name", autocomplete="off") }}<br>
                                {% for error in form.user_name.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}

                            {% else %}

                                {{ form.user_name.label }}
                                {{ form.user_name(class="form-control", placeholder="Enter a name", autocomplete="off") }}<br>

                            {% endif %}

                            

                        </div>
                        <div class="col-sm-4">


                            {% if form.password.errors %}

                                {{ form.password.label }}
                                {{ form.password(class="form-control is-invalid", placeholder="Enter password", autocomplete="off") }}<br>
                                {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}

                            {% else %}

                                {{ form.password.label }}
                                {{ form.password(class="form-control", placeholder="Enter password", autocomplete="off") }}<br>

                            {% endif %}


                        </div>
                        
                    </div>

                    <div class="form-row">

                        {{ form.submit(class="btn btn-success btn-block") }}

                    </div>

                </form>
            </div>
            
            <div class="row justify-content-center">
                <div class="d-flex">
                    <footer class="text-muted">v1.0.0 BETA</footer>
                </div>
            </div>
            
        </div>
        <!-- /.card-body -->
        
        

    </div>

</div>



<div class="container text-dark ">
    {% if live_games != [] %}
    <h4 class="text-center text-white">Public Games</h4>
    {% endif %}
    <div class="card-columns" id="live-games">

        {% for game in live_games %}

        <div class="card">
            <div class="card-header text-white bg-dark">{{ game.game_code }}</div>
            <div class="card-body">
              <div>Rounds: {{ game.num_rounds }}</div>
              <div>Questions per Round: {{ game.num_questions }}</div>
              <div>Players: {{ game.users|length }}</div>
              {% if game.provider == 'both' %}
              <div>Provider: <a href="https://opentdb.com/">Open Trivia DB</a> & <a href="https://jservice.io/">Jeopardy</a></div>
              {% elif game.provider == 'open' %}
              <div>Provider: <a href="https://opentdb.com/">Open Trivia DB</a></div>
              {% elif game.provider == 'jep' %}
              <div>Provider: <a href="https://jservice.io/">Jeopardy</a></div>
              {% endif %}

              {% if game.game_msg != '' %}
              <div>Message from host: {{ game.game_msg }}</div>
              {% endif %}
              <div><button type="button" class="btn btn-dark" onclick="selectGame('{{ game.game_code }}');">Select Game</button></div>
            </div>
        </div>

        {% endfor %}


    </div>

</div>


{% endblock %}

{% block js %}


<script type="text/javascript" charset="utf-8">

    function selectGame(game_code){

        $("#game_code").val(game_code);

        $("#user_name").focus();
    }


</script>

{% endblock %}
